main .logo a{
    /* text */
    font-family: "Work Sans", Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}
main .logo div{
    display: flex;
    justify-content: center;  
}
.logo{
    padding-top: 50px;
}