.main_text{
    font-family: "Work-Sans-light", Arial, sans-serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 1.5;
    color: #fff;
    margin: 0;
    margin-top: 90px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;  
}
.main_p{
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #fff;
    display: flex;
    justify-content: center; 
    margin-bottom: 30px;
}
.main_p span{
    color: #e36464;
    padding-left: 5px;
}