@media (max-width: 1100px) {
    .main_text{
        max-width: 650px;
        text-align: center;
        margin: 0 auto;
        margin-top: 45px;
        margin-bottom: 20px;
    }
}
@media (max-width: 800px) {
    .section{
        padding: 0;
    }
    .main_text{
        font-size: 30px;
    }
    .mob_logo{
        display: none;
    }
    footer p{
        margin: 10px 0;
    }
}
@media (max-width: 768px) {
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    input{
        text-align: center;
        width: 95%;
        display: block;
        border-radius: 0;
        padding: 18px 0;
        margin: 0;
        margin-bottom: 5px;
    }
    button{
        margin-left: 0px;
        border-radius: 0;
        display: block;
        width: 95%;
        padding: 18px 0;
    }
    .img div img{
        padding: 0 10px;
    }
    .main_text{
        font-size: 22px;
    }
}
@media (max-width: 600px) {
    .time{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .time div{
        margin-bottom: 20px;
    }
    .main_p{
        font-size: 15px;
        display: block;
        text-align: center;
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}
@media (max-width: 400px) {    
    footer p{
        font-size: 10px;
    }
}
@media (max-width: 300px) {
    input {
        padding-right: 30px;
    }
    .social_p{
        font-size: 15px;
    }
}